<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Image uploader</a>
</nav>
<br>
<div class="container">
  <div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" multiple (change)="onChange($event, showFileNames)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div *ngIf="selectedFiles?.length > 0">
      <div>
        <button type="button" class="btn btn-primary">
          Selected Files
          <span class="badge badge-light">{{selectedFiles.length}} </span>
        </button>
      </div>
      <br>
      <div class="alert alert-success">
        <strong>Preview!</strong>
      </div>
    </div>
    <div class="photos">
      <div *ngFor="let imageName of selectedFiles">
        <img [src]="imagesMap.get(imageName)" class="img-thumbnail" />
        <br>
      </div>
    </div>

  
    <Label> Change the order of images below : </Label>
    <div   class="input-group mb-3">
      <input type="text" #showFileNames class="form-control" placeholder="selected Files" aria-label="Seleced Files" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2" type="submit" (click)="changeOrder($event, showFileNames)">Change order</span>
      </div>
    </div>
    <br>
  
    <button type="button" class="btn btn-primary" (click)="save($event, showFileNames)">Upload</button>

  </div>
</div>